<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QuizApp - Blockchain-based quiz application</title>
	<meta name="description" content="QuizApp is a Blockchain-based online examination platform" />
	<meta name="keywords" content="blockchain, ethereum, smart contracts, quiz" />
	<meta name="author" content="Akhil and Nithish" />

	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:400,200,300,500' type='text/css'>

</head>