<template name="instructorhome">

    <div class="container">
        <br />
        <br />
        <br />
        
        <div class="panel-group" id="accordion">

            <div class="faqHeader">Future Quizes</div>

           <!--  {{#each activequiz}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">   
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{quizName}}">{{quizName}}</a>
                                </div>
                                <div class="col-md-6">
                                    <div class = "pull-right">
                                        <button type="button" class="btn btn-default btn-xs">Open</button>
                                        <button type="button" class="btn btn-primary btn-xs">Start</button>
                                        <button type="button" class="btn btn-success btn-xs">Edit</button>
                                        <button type="button" class="btn btn-danger btn-xs">Delete</button>
                                    </div>
                                </div> 
                            </div>   
                        </h4>
                    </div>
                    <div id="{{quizName}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{quizDescription}} 
                        </div>
                    </div>
                </div>
            {{/each}} -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">   
                        <div class="row">
                            <div class="col-md-6">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#future1">Quiz Name</a>
                            </div>
                            <div class="col-md-6">
                                <div class = "pull-right">
                                    <button type="button" class="btn btn-default btn-xs">Open</button>
                                    <button type="button" class="btn btn-primary btn-xs">Start</button>
                                    <button type="button" class="btn btn-success btn-xs">Edit</button>
                                    <button type="button" class="btn btn-danger btn-xs">Delete</button>
                                </div>
                            </div> 
                        </div>   
                    </h4>
                </div>
                <div id="future1" class="panel-collapse collapse">
                    <div class="panel-body">
                        Quiz-description 
                    </div>
                </div>
            </div>


            <br />
            <br />

            <div class="faqHeader">Active Quizes</div>
            {{#each activequiz}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">   
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{quizName}}">{{quizName}}</a>
                                </div>
                                <div class="col-md-6">
                                    <div class = "pull-right">
                                        <button type="button" class="btn btn-default btn-xs">Open</button>
                                        <button type="button" class="btn btn-primary btn-xs">Stats</button>
                                        <button type="button" class="endquiz btn btn-danger btn-xs" value="{{quizName}}">End</button>
                                    </div>
                                </div>  
                            </div>  
                        </h4>
                    </div>
                    <div id="{{quizName}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{quizDescription}}
                        </div>
                    </div>
                </div>
            {{/each}}


            <br />
            <br />

            <div class="faqHeader">Past Quizes</div>
            {{#each inactivequiz}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">   
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{quizName}}">{{quizName}}</a>
                                </div>
                                <div class="col-md-6">
                                    <div class = "pull-right">
                                        <button type="button" class="btn btn-default btn-xs">Open</button>
                                        <button type="button" class="btn btn-primary btn-xs">Stats</button>
                                    </div>
                                </div>  
                            </div>  
                        </h4>
                    </div>
                    <div id="{{quizName}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{quizDescription}} 
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>