<template name="studenthome">

    <div class="container">
        <br />
        <br />
        <br />
        
        <div class="panel-group" id="accordion">

            <div class="faqHeader">Active Quizes</div>
            {{#each activequiz}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">   
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{quizName}}">{{quizName}}</a>
                                </div>
                                <div class="col-md-6">
                                    <div class = "pull-right">
                                        <button type="button" class="attemptquiz btn btn-primary btn-xs" value = "{{quizName}}">Attempt</button>
                                    </div>
                                </div> 
                            </div>   
                        </h4>
                    </div>
                    <div id="{{quizName}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{quizDescription}}
                            <br />
                            {{instructor}} 
                        </div>
                    </div>
                </div>
            {{/each}}

            <br />
            <br />

            <div class="faqHeader">Attempted Quizes</div>
            {{#each attemptedquiz}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">   
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{quizName}}">{{quizName}}</a>
                                </div>
                                <div class="col-md-6">
                                    <div class = "pull-right">
                                        <button type="button" class="openquiz btn btn-default btn-xs" value = "{{quizName}}">Open</button>
                                    </div>
                                </div>  
                            </div>  
                        </h4>
                    </div>
                    <div id="{{quizName}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{quizDescription}}
                            <br />
                            {{instructor}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>